@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

html {
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

body {
  background-color: ghostwhite;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 500px;
  padding: 20px 50px;
  margin: 50px 0;
}

#title {
  font-size: 20px;
  text-align: center;
}

#description {
}

#name {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

#email {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

#number {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

#dropdown {
  padding: 10 10px;
}

textarea {
  width: 100%;
}

#submit {
  width: 100%;
}
